{% extends 'base.html' %}

{% block content %}

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="tour-list">
          <div class="tour-header">
            <div class="row">
              <div class="col-xs-6">
                <h3>Tour Expense List</h3>
              </div>
              <div class="col-xs-6">
                <h3 class="pull-right">Filter by:
                  <small>
                    <select class="" name="">
                      <option value="">Recent</option>
                      <option value="">Oldest</option>
                      <option value="">Most Spent</option>
                      <option value="">Least Spent</option>
                    </select>
                  </small>
                </h3>
              </div>
            </div>
          </div>
          <div class="expense-list">
            <div class="expense-item text-center">
              <a href="#" data-toggle="modal" data-target="#expenseModal"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            {% for expense in object_list %}
              <div class="expense-item">
                  <div class="row">
                    <div class="col-xs-8">
                      <h3><a href="{{ expense.get_absolute_url }}">{{ expense.spent_on}}</a></h3>
                      <p class="expense-description">{{ expense.description }}</p>
                    </div>
                    <div class="col-xs-4 text-right">
                      <div class="special-info">
                        <h5 class="expense-price">{{ expense.amount }} <small>BDT</small></h5>
                        <p class="entry-time">{{ expense.spent_time }}</p>
                        <p><a href="#" class="btn btn-warning" role="button">Edit</a> <a href="#" class="btn btn-danger" role="button">Delete</a></p>
                      </div>
                    </div>
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}