.navbar {
  margin-bottom: 0px;
}

.navbar-default .navbar-brand {
	color: rgb(75, 192, 192);
}

.navbar-default .navbar-nav > li > a {
	color: rgb(75, 192, 192);
}

.header-section {
  background: url("../img/tour_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.2);
	padding: 70px 0px 70px;
}

.header-content {
    padding: 60px 0px 90px;
  	color: #fff;
}

.header-content h1 {
	font-size: 50px;
	font-weight: bold;
  color: #fff;
}

.header-content h4 {
    font-size: 22px;
    margin: 15px 0px 25px;
    line-height: 45px;
}

.header-content a {
	margin: 0px 5px 0px;
}

/* .main-content {
	margin-bottom: 50px;
} */

.main-content {
	padding-bottom: 100px;
}

.tour-list {
	box-shadow: 0px 0px 7px -5px;
}

.tour-header {
	margin-bottom: 45px;
	background: rgb(75, 192, 192);
	padding: 5px 20px 15px;
	color: #fff;
}

.expense-list {
	padding: 0px 25px 1px;
}

.expense-item {
    background: #fff;
    padding: 5px 15px;
    margin-bottom: 28px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px -3px gray;
}

.expense-item .glyphicon-plus {
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 15px -5px;
    padding: 16px 17px;
    border-radius: 50%;
    font-size: 18px;
    color: gray;
    margin: 18px 0px;
}

.expense-item h3 {
    margin-top: 10px;
}

.expense-description {
    color: grey;
    font-size: 15px;
}

.expense-price {
    font-weight: bold;
    color: #CE0000;
    font-size: 16px;
}

.special-info .entry-time {
    color: gray;
    padding-bottom: 2px;
}



.statistic-wrapper {
	box-shadow: 0px 0px 7px -5px;
}

.tour-statistic {
    padding-bottom: 15px;
}

.tour-statistic h3 {
    padding-left: 5px;
    margin-bottom: 30px;
}

.budget-statistic {
	margin-top: 25px;
}



.tour-form {
	margin-top: 60px;
}

.tour-form h2 {
	margin-bottom: 25px;
}

.tour-form .btn-primary {
	margin-top: 15px;
}



.account-form {
	background: rgba(255,255,255,0.4);
	padding: 5px 30px 15px;
	border-radius: 3px;
}

.login-form {
  max-width: 300px;
	margin: 45% auto;
}

.signup-form {
  max-width: 500px;
	margin: 20% auto;
}

.signup-form .btn-primary {
	margin-top: 25px;
}

.account-form > h1 {
	text-align: center;
	margin-bottom: 25px;
	margin-top: 10px;
	color: rgb(75, 192, 192);
	text-shadow: 2px 2px 2px gray;
	font-weight: bold;
}

.account-form p {
	margin-bottom: 15px;
}



/***** Footer *****/
a, a:hover, a:focus {
	color: #42bfc2;
	text-decoration: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

footer {
	padding: 40px 0 35px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  border-top: 1px solid #ddd;
  background: #fff;
}

.footer-social {
	font-size: 50px;
    line-height: 50px;
}

.footer-social a { color: #ddd; }
.footer-social a:hover, .footer-social a:focus { color: #42bfc2; }

.footer-copyright {
	margin-top: 25px;
}
