<!-- Expense Edit Modal -->
<div class="modal fade" id="expenseEModal{{ form.instance.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Expense</h4>
      </div>
      <!-- <form id="expense-form" action="." method="POST"> -->
        <div class="modal-body">
          {{ form }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save">
        </div>
      <!-- </form> -->
    </div>
  </div>
</div>