{% extends 'base.html' %}

<style media="screen">
  {% block style %}
    body {
      background: rgb(75, 192, 192);
    }
  {% endblock %}
</style>

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="account-form login-form">
          <h1>LOG IN</h1>
          <form method="post">
            {% csrf_token %}
            {% comment %}
              Default form tag or form will be
              {{ form.as_p }}
              But for styling purpose we've customized it
            {% endcomment %}
            <p><input type="text" name="username" class="form-control" placeholder="Username"></p>
            <p><input type="password" name="password" class="form-control" placeholder="Password"></p>
            <p><input type="submit" class="btn btn-primary btn-block" value="Login"></p>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
